<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="         http://www.springframework.org/schema/beans         http://www.springframework.org/schema/beans/spring-beans.xsd ">

    <bean id="departmentService" class="com._520it.wms.service.impl.DepartmentServiceImpl">
        <property name="departmentMapper" ref="departmentMapper"/>
    </bean>
    <bean id="employeeService" class="com._520it.wms.service.impl.EmployeeServiceImpl">
        <property name="employeeMapper" ref="employeeMapper"/>
        <property name="permissionService" ref="permissionService"/>
    </bean>
    <bean id="permissionService" class="com._520it.wms.service.impl.PermissionServiceImpl">
        <property name="permissionMapper" ref="permissionMapper"/>
    </bean>
    <bean id="roleService" class="com._520it.wms.service.impl.RoleServiceImpl">
        <property name="roleMapper" ref="roleMapper"/>
    </bean>
    <bean id="systemMenuService" class="com._520it.wms.service.impl.SystemMenuServiceImpl">
        <property name="systemMenuMapper" ref="systemMenuMapper"/>
    </bean>
    <bean id="brandService" class="com._520it.wms.service.impl.BrandServiceImpl">
        <property name="brandMapper" ref="brandMapper"/>
    </bean>
    <bean id="supplierService" class="com._520it.wms.service.impl.SupplierServiceImpl">
        <property name="supplierMapper" ref="supplierMapper"/>
    </bean>
    <bean id="productService" class="com._520it.wms.service.impl.ProductServiceImpl">
        <property name="productMapper" ref="productMapper"/>

    </bean>
    <bean id="orderbillService" class="com._520it.wms.service.impl.OrderbillServiceImpl">
        <property name="orderbillMapper" ref="orderbillMapper"/>
    </bean>
    <bean id="depotService" class="com._520it.wms.service.impl.DepotServiceImpl">
        <property name="depotMapper" ref="depotMapper"/>
    </bean>
    <bean id="stockIncomebillService" class="com._520it.wms.service.impl.StockIncomebillServiceImpl">
        <property name="stockIncomebillMapper" ref="stockIncomebillMapper"/>
        <property name="productStockService" ref="productStockService"/>
    </bean>
    <bean id="productStockService" class="com._520it.wms.service.impl.ProductStockServiceImpl">
        <property name="productStockMapper" ref="productStockMapper"/>
    </bean>
    <bean id="clientService" class="com._520it.wms.service.impl.ClientServiceImpl">
        <property name="clientMapper" ref="clientMapper"/>
    </bean>
    <bean id="stockOutcomebillService" class="com._520it.wms.service.impl.StockOutcomebillServiceImpl">
        <property name="stockOutcomebillMapper" ref="stockOutcomebillMapper"/>
        <property name="productStockService" ref="productStockService"/>
        <property name="saleAccountService" ref="saleAccountService"/>
    </bean>
    <bean id="chartService" class="com._520it.wms.service.impl.ChartServiceImpl">
        <property name="chartMapper" ref="chartMapper"/>
    </bean>
    <bean id="saleAccountService" class="com._520it.wms.service.impl.SaleAccountServiceImpl">
        <property name="saleAccountMapper" ref="saleAccountMapper"/>
    </bean>
</beans>
